<!-- templates/home.html-->
{% extends 'base_app/base.html' %}
{% load static %}
{% block title %}Flachdächer{% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'flachdaecher_app/loader.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'freistehende_waende_app/editbutton.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'freistehende_waende_app/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'base_app/container.css' %}">

{% endblock %}



{% block content %}

<div class="loader-container">
  <div class="loader"></div>
</div>

<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_app:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'core:allgEingaben_list' %}">Projekte</a></li>
    <li class="breadcrumb-item"><a href="{% url 'core:windbemessung_list' object.projekt.slug object.projekt.pk %}">Bauteile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Flachdach</li>
  </ol>
</nav>
<div class="row">

  <div class="col">


    <div class="card">
      <h3 class="card-header">{{ object.projekt.projekt_name }} - Standortparameter </h3>
      <div class="card-body">
        {% block allgemeineEingaben %}
        {% include "core/allgeingaben_detail.html" %}
        {% endblock %}
        <a href="{{object.projekt.get_absolute_url}}?next={% url 'flachdaecher_app:flachdach_detail' object.projekt.slug object.projekt.pk object.pk %}" class="btn btn-primary">Bearbeiten <i class="fa fa-edit"></i></a>
        <a href="{% url 'core:allgEingaben_list' %}" class="btn btn-outline-success">Zurück zur Projektübersicht <i class="fa fa-arrow-left"></i></a>

      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="col">
    <div class="card">
      <h3 class="card-header form-inline"><img class="icon" src="{% static 'core/img/flachdach.JPG' %}" alt="icon Flachdächer"> Flachdächer</h3>
      <div class="card-body">
        <table class="table table-hover">

          <tbody>
            <tr>
              <td>
                <div class="row">
                  <div class="col text-right">
                    Bauteil:
                  </div>
                  <div class="col">
                    {{ object.bautteil_name.bautteil_name }}
                  </div>

                </div>
              </td>

            </tr>
            {% if object.some_field == 'Verfahren gemäß ÖNORM EN 1991-1-4, Abschnitt 7.2.3' %}
            <tr>
              <td>
                <div class="row">
                  <div class="col text-right">
                    Art des Traufenbereichs:
                  </div>
                  <div class="col">
                    {{ object.art_traufenbereich }}
                  </div>
                </div>
              </td>

            </tr>


            {% if object.art_traufenbereich == 'mit Attika' %}
            <tr>
              <td>
                <div class="row">
                  <div class="col text-right">
                    Attikahöhe:
                  </div>
                  <div class="col">
                    {{ object.hoehe_attika }} m
                  </div>
                </div>
              </td>

            </tr>
            {% endif %}
            {% if object.art_traufenbereich == 'abgerundeter Traufbereich' %}
            <tr>
              <td>
                <div class="row">
                  <div class="col text-right">
                    Radius:
                  </div>
                  <div class="col">
                    {{ object.radius }} m
                  </div>
                </div>
              </td>

            </tr>
            {% endif %}
            {% if object.art_traufenbereich == 'mansardenartig abgeschrägter Traufbereich' %}
            <tr>
              <td>
                <div class="row">
                  <div class="col text-right">
                    Winkel &alpha;:
                  </div>
                  <div class="col">
                    {{ object.alpha }}°
                  </div>
                </div>
              </td>
            </tr>
            {% endif %}

            {% endif %}
            <tr>
              <td>
                <div class="row">
                  <div class="col text-right">
                    Höhe:
                  </div>
                  <div class="col">
                    {{ object.hoehe }} m
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <div class="col text-right">
                      Länge Süden:
                  </div>
                  <div class="col">
                    {{ object.breite_x }} m
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <div class="col text-right">
                    Länge Westen:
                  </div>
                  <div class="col">
                    {{ object.breite_y }} m
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="row">
                  <div class="col text-right">
                    Berechnungsverfahren:
                  </div>
                  <div class="col">
                    {{ object.some_field }}
                  </div>
                </div>
              </td>
            </tr>
            {% if object.innendruck == True %}
            {% if object.some_field_radio2 == 'Innendruckbeiwert mittels dominanter Fläche nach Abschnitt 7.2.9' %}
            <tr>
              <td>
                <div class="row">
                  <div class="col text-right">
                    Innendruckbeiwert:
                  </div>
                  <div class="col">
                    {{ object.innendruck_cpi }}
                  </div>
                </div>
              </td>
            </tr>
            {% endif %}
            {% if object.some_field_radio2 == 'Innendruckbeiwert mittels Flächenparameter nach Abschnitt 7.2.9' %}
            <tr>
              <td>
                <div class="row">
                  <div class="col text-right">
                    Flächenparameter:
                  </div>
                  <div class="col">
                    {{ object.flaechenparameter_mue }}
                  </div>
                </div>
              </td>
            </tr>
            {% endif %}
            {% endif %}
            <tr>
              <td>
                <div class="row">
                  <div class="col text-right">
                    Bearbeitet am:
                  </div>
                  <div class="col">

                    <div class="date">
                      {{ object.edited_date }} Uhr
                    </div>

                  </div>

                </div>
              </td>

            </tr>
          </tbody>
        </table>

        <a href="{{object.get_absolute_url2}}" class="btn btn-primary">Bearbeiten <i class="fa fa-edit"></i></a>
        <a href="{% url 'core:windbemessung_list' object.projekt.slug object.projekt.pk %}" class="btn btn-outline-success">Zurück zur Bauteilübersicht <i class="fa fa-arrow-left"></i></a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">




  <div class="btn-group" role="group" aria-label="Third group" style="text-align:right">

    {% if pdf_bearbeitet %}
    <a href="{% url 'gesamt_pdf_app:gesamt_pdf_update' object.projekt.slug object.projekt.pk pdf_bearbeiten_object.id %}?next={% url 'flachdaecher_app:flachdach_detail' object.projekt.slug object.projekt.pk object.pk %}"><button type="button"
        class="btn btn-secondary">PDF
        formatieren <i class="far fa-file-pdf"></i></button>
    </a>
    {% else %}
    <a href="{% url 'gesamt_pdf_app:gesamt_pdf_create' object.projekt.slug object.projekt.pk  %}?next={% url 'flachdaecher_app:flachdach_detail' object.projekt.slug object.projekt.pk object.pk %}"><button type="button" class="btn btn-secondary">PDF
        formatieren <i class="far fa-file-pdf"></i></button>
    </a>
    {% endif %}

  </div>

  <div class="btn-group" role="group" aria-label="Third group">
    <a href="{% static 'flachdaecher_app/rechenweg/Rechenweg_Flachdach.pdf' %}" target="_blank"><button type="button" class="btn btn-secondary">Beschreibung herunterladen <i class="fa fa-download"></i></button>
    </a>
  </div>

  <div class="btn-group" role="group" aria-label="Third group">
    <a href="{{ filename_pdf_anzeigen }}" target="_blank"><button type="button" class="btn btn-success">Pdf herunterladen <i class="fa fa-download"></i></button>
    </a>
  </div>




</div>
<br>

<div class="row" id="pdfausdruck">
  <object data="{{ filename_pdf_anzeigen }}" type="application/pdf" width="100%" height="800px">
    <iframe src="{{ filename_pdf_anzeigen }}" style="border: none;" width="100%" height="800px">
      This browser does not support PDFs. Please download the PDF to view it:
      <a href="{{ filename_pdf_anzeigen }}">PDF herunterladen!</a>
    </iframe>
  </object>

</div>




{% endblock %}

{% block js %}

{% include "js_loader_flachdach.html" %}
{% include "js_reload_pdf.html" %}

{% endblock %}
