{% block js %}
<script language="javascript">
  // Get the modal
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    } else if (event.target == modal2) {
      modal2.style.display = "none";
    } else if (event.target == modal3) {
      modal3.style.display = "none";
    } else if (event.target == modal4) {
      modal4.style.display = "none";
    } else if (event.target == modal5) {
      modal5.style.display = "none";
    } else if (event.target == modal6) {
      modal6.style.display = "none";
    }
  }
  window.onload = function() {


    myFunction5();
  }
  var modal = document.getElementById('myModal_pultdaecher');

  var span = document.getElementById("close1");
  var img = document.getElementById('myImg');

  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  var alpha = document.getElementById('id_dachneigung');
  var alphalabel = document.getElementById('label_dachneigung');

  var radius = document.getElementById('id_radius');
  var label_radius = document.getElementById('id_label_radius');

  var checkBox = document.getElementById("id_innendruck");
  checkBox.onclick = myFunction5;
  var standard_verfahren = document.getElementById("id_verfahren_wahl_1")
  var vereinfachtes_verfahren = document.getElementById("id_verfahren_wahl_0");

  var bereich_vereinfachtesverfahren = document.getElementById('bereich_vereinfachtesverfahren')

  var innendruck_cpi_radio = document.getElementById("id_innendruck_verfahren_wahl_0");
  innendruck_cpi_radio.onclick = myFunction5;
  var flaechenparameter_radio = document.getElementById("id_innendruck_verfahren_wahl_1");
  flaechenparameter_radio.onclick = myFunction5;
  var radiobuttons3 = document.getElementById("id_innendruck_verfahren_wahl_2");

  radiobuttons3.onclick = myFunction5;
  var innendruck_cpi = document.getElementById("id_innendruck_cpi");
  var flaechenparameter = document.getElementById("id_flaechenparameter_mue");

  // Get the output text
  var text = document.getElementById("inndendruck_bereich");

  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  // When the user clicks anywhere outside of the modal, close it

  function myFunction5() {
    // Get the checkbox

    // If the checkbox is checked, display the output text
    if (checkBox.checked == true) {
      text.style.display = 'block';
      innendruck_cpi_radio.required = "required";
      flaechenparameter_radio.required = "required";
      radiobuttons3.required = "required";



      if (innendruck_cpi_radio.checked == true) {
        innendruck_cpi.required = "required";
        innendruck_cpi.disabled = false;
      } else {
        innendruck_cpi.required = "";
        innendruck_cpi.disabled = true;

      }

      if (flaechenparameter_radio.checked == true) {
        flaechenparameter.required = "required";
        flaechenparameter.disabled = false;
      } else {
        flaechenparameter.required = "";
        flaechenparameter.disabled = true;
      }

    } else {
      text.style.display = 'none';
      innendruck_cpi_radio.required = "";
      flaechenparameter_radio.required = "";
      radiobuttons3.required = "";
      innendruck_cpi.required = "";
      flaechenparameter.required = "";

    }
  };



    // Get the modal
    var modal2 = document.getElementById('myModal1');

    // Get the button that opens the modal
    var btn2 = document.getElementById("info_button1");

    // Get the <span> element that closes the modal
    var span2 = document.getElementById("close2");

    // When the user clicks the button, open the modal
    btn2.onclick = function() {
      modal2.style.display = "block";
    };

    // When the user clicks on <span> (x), close the modal
    span2.onclick = function() {
      modal2.style.display = "none";
    };


    // Get the modal
    var modal3 = document.getElementById('myModal3');

    // Get the button that opens the modal
    var btn3 = document.getElementById("info_button3");

    // Get the <span> element that closes the modal
    var span3 = document.getElementById("close3");

    // When the user clicks the button, open the modal
    btn3.onclick = function() {
      modal3.style.display = "block";
    };

    // When the user clicks on <span> (x), close the modal
    span3.onclick = function() {
      modal3.style.display = "none";
    };



    // Get the modal 4
    var modal4 = document.getElementById('myModal4');

    // Get the button that opens the modal
    var btn4 = document.getElementById("info_button_dominant");

    // Get the <span> element that closes the modal
    var span4 = document.getElementById("close4");

    // When the user clicks the button, open the modal
    btn4.onclick = function() {
      modal4.style.display = "block";
    };

    // When the user clicks on <span> (x), close the modal
    span4.onclick = function() {
      modal4.style.display = "none";
    };

    // Get the modal  info_button_empfohleneWerte
    var modal5 = document.getElementById('myModal5');

    // Get the button that opens the modal
    var btn5 = document.getElementById("info_button_flaechenparameter");

    // Get the <span> element that closes the modal
    var span5 = document.getElementById("close5");

    // When the user clicks the button, open the modal
    btn5.onclick = function() {
      modal5.style.display = "block";
    };

    // When the user clicks on <span> (x), close the modal
    span5.onclick = function() {
      modal5.style.display = "none";
    };

    // Get the modal
    var modal6 = document.getElementById('myModal6');

    // Get the button that opens the modal
    var btn6 = document.getElementById("info_button_empfohleneWerte");

    // Get the <span> element that closes the modal
    var span6 = document.getElementById("close6");

    // When the user clicks the button, open the modal
    btn6.onclick = function() {
      modal6.style.display = "block";
    };

    // When the user clicks on <span> (x), close the modal
    span6.onclick = function() {
      modal6.style.display = "none";
    };
</script>
{% endblock %}
