{% extends 'base_app/base.html' %}
{% load static %}
{% block title %}Bestätigen{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'freistehende_waende_app/card.css' %}">
{% endblock %}
{% block content %}
<br>
<div class="card">
  <h3 class="card-header">E-Mail Adresse bestätigen</h3>
  <div class="card-body">

    <ul class="list-group">
<p>Bitte bestätigen Sie Ihre E-Mail-Adresse, um die Registrierung abzuschließen. </p>
</ul>
</div>
</div>
{% endblock %}
