{% extends 'base_app/base.html' %}
{% load static %}
{% block title %}Fehler{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'freistehende_waende_app/card.css' %}">
{% endblock %}
{% block content %}
<div class="card">
  <h3 class="card-header">Passwort ungültig</h3>

  <div class="card-body">

    <ul class="list-group">
<p>Das eingegebene Passwort existiert nicht und/oder die Passwörter stimmen nicht überrein!.</p>


</ul>
<form class="form-inline my-2 my-lg-0" action="{% url 'account_app:change_password' %}" method="get">

  <button class="btn btn-primary" type="submit">Zurück</button>
</form>


</div>
</div>
{% endblock %}
