{% extends 'base_app/base.html' %}
{% load static %}

{% block title %}Passwort ändern{% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'freistehende_waende_app/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'account_app/changepassword_edit.css' %}">
{% endblock %}

{% block content %}
<br>

<form action="" method="post">
  {% csrf_token %}

  <div class="card" id="card_changepw">
    <h3 class="card-header">Passwort ändern</h3>

    <div class="card-body">
      <div class="row">

        <div class="col-md-8">
          <div class="form-group">
            {{ form.old_password.errors }}
            <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label_tag }}</label>
            <div class="" style="margin-left:20px">
              {{ form.old_password }}
            </div>
          </div>

        </div>

      </div>
      <div class="row">

        <div class="col-md-8">
          <div class="form-group">
            {{ form.new_password1.errors }}
            <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label_tag }}</label>
            <div class="" style="margin-left:20px">
              {{ form.new_password1 }}
            </div>
          </div>

        </div>

      </div>
      <div class="row">

        <div class="col-md-8">
          <div class="form-group">
            {{ form.new_password2.errors }}
            <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label_tag }}</label>
            <div class="" style="margin-left:20px">
              {{ form.new_password2 }}
            </div>
          </div>

        </div>

      </div>


      <span class="text-danger align-middle">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </span>

<br>
      <button type="submit" class="btn btn-success" name="button">Bestätigen <i class="fa fa-check square"></i></button>
    </div>
  </div>
</form>
{% endblock %}
