{% extends 'base_app/base.html' %}
{% load static %}
{% block title %}Passwort vergessen?{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'freistehende_waende_app/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'account_app/resetpassword_edit.css' %}">
{% endblock %}
{% block content %}
<br>
<div class="card" id="card_resetpw">
  <h3 class="card-header">Passwort vergessen?</h3>

  <div class="card-body">

    <ul class="list-group">

  <p>Geben Sie Ihre E-Mail-Adresse unten ein und wir senden Ihnen per E-Mail Anweisungen zum Einrichten eines neuen Passworts.</p>

  <form method="post" >
    {% csrf_token %}
    <div class="form-group col-md-8">
      <label for="id_email">E-Mail-Adresse:</label><br>
    <input type="email" name="email" maxlength="254" required id="id_email" class="form-control">
    </div>




    <button class="btn btn-success" type="Anmelden">Passwort anfordern</button>
  </form>


</ul>
</div>
</div>
{% endblock %}
