{% extends 'base_app/base.html' %}
{% load static %}
{% block title %}Passwort ändern{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'freistehende_waende_app/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'account_app/changepassword_edit.css' %}">
{% endblock %}
{% block content %}
  {% if validlink %}
<br>
<div class="card" id="card_changepw">
  <h3 class="card-header">Passwort ändern</h3>
  <div class="card-body">

    <ul class="list-group">


    <form method="post">
      {% csrf_token %}



      <div class="form-row">
          <div class="form-group col-md-8">
            <label for="id_new_password1">Neues Passwort:</label>
              <input type="password" name="new_password1" required id="id_new_password1" class="form-control">
          </div>

      </div>
      <div class="form-row">
          <div class="form-group col-md-8">
            <label for="id_new_password2">Neues Passwort bestätigen:</label>
            <input type="password" name="new_password2" required id="id_new_password2" class="form-control">
          </div>

      </div>

      <button class="btn btn-primary" type="Anmelden">Passwort ändern</button>
    </form>

  </ul>
  </div>
  </div>
  {% else %}
  <br>
  <div class="card" id="card_changepw">
    <h3 class="card-header">Passwort ändern ungültig</h3>
    <div class="card-body">

      <ul class="list-group">

    <p>
      Der Link zum Zurücksetzen des Passworts war ungültig, möglicherweise weil er bereits verwendet wurde.
        Bitte fordern Sie ein neues Passwort an.
    </p>
  {% endif %}
</ul>
</div>
</div>

{% endblock %}
