<!-- templates/registration/password_reset_complete.html -->
{% extends 'base_app/base.html' %}
{% load static %}
{% block title %}Passwort zurückgesetzt{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'freistehende_waende_app/card.css' %}">
{% endblock %}
{% block content %}
<br>
<div class="card">
  <h3 class="card-header">Passwort wurde zurückgesetzt</h3>
  <div class="card-body">

    <ul class="list-group">

<p>Ihr neues Passwort wurde festgelegt. Sie können sich jetzt auf der <a href="{% url 'login' %}">Login Seite anmelden</a>.</p>


  </ul>
  </div>
  </div>
{% endblock %}
