{% extends 'base_app/base.html' %}
{% load static %}

{% block title %}Profil{% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'freistehende_waende_app/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'account_app/user_profile.css' %}">
{% endblock %}
{% block content %}
<br>



<div id="profile_card" class="card">


  <div class="card-body">
    <div class="row">
      <img class="card-img-top" src="{% static 'account_app/img/img_avatarmale.png' %}" id="avatar_image" alt="Avatar">
      <img class="card-img-top" src="{% static 'account_app/img/img_avatarfemale.png' %}" id="avatar_image" alt="Avatar">
    </div>
    <br>
    <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div id="linke_spalte" class="col-md-4">
        <p><b>{{ form.email.label_tag }}</b></p>
        </div>
        <div class="col-md-8">
              <h4 class="card-title" style="text-align:center"><b> {{ form.email }}</b></h4>
        </div>

      </div>

      <div class="row">
        {{ form.company.errors }}
        <div id="linke_spalte" class="col-md-4">
        <p>  <b>{{ form.company.label_tag }}</b></p>
        </div>
        <div class="col-md-8">
          <p>{{ form.company }}</p>
        </div>
      </div>







      {% if user.is_free %}
      <div class="row">
        <div id="linke_spalte" class="col-md-4">
          <p><b>Registriert am:</b></p>
        </div>
        <div class="col-md-8">
          <p>{{ user.is_free_date }}</p>
        </div>
      </div>
      <div class="row">
        <div id="linke_spalte" class="col-md-4">
          <p><b>Version:</b></p>
        </div>
        <div class="col-md-8">
          <p>Demo</p>
        </div>
      </div>
      {% endif %}
      {% if user.is_pro %}
      <div class="row">
        <div id="linke_spalte" class="col-md-4">
          <p><b>Registriert am:</b></p>
        </div>
        <div class="col-md-8">

          <p>{{ user.is_pro_date }}</p>

        </div>

      </div>
      <div class="row">
        <div id="linke_spalte" class="col-md-4">
          <p><b>Ablaufdatum:</b></p>
        </div>
        <div class="col-md-8">

          <p>{{ user.is_pro_exired_date}}</p>
        </div>

      </div>
      <div class="row">
        <div id="linke_spalte" class="col-md-4">
          <p><b>Version:</b></p>
        </div>
        <div class="col-md-8">
          <p>Professional</p>
        </div>
      </div>

      {% endif %}
      <div class="row">
        <div id="linke_spalte" class="col-md-4">

        </div>
        <div class="col-md-8">
          <button id="submit_form_button" type="submit" class="btn btn-success" name="button">Bestätigen <i class="fa fa-check square"></i></button>

        </div>
      </div>

    </form>
  </div>

</div>






{% endblock %}
