{% extends "base_app/base.html" %}
{% block title %}Projektübersicht{% endblock %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'core/bauteil_list.css' %}">
{% endblock %}

{% block content %}


<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_app:home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Projekte</li>

  </ol>
</nav>
<div class="card" id="bauteil_list_card">
  <h3 class="card-header"><i class="fas fa-folder" aria-hidden="true"></i>
    Projektübersicht

  </h3>
  {% if user.verlaengerung_notwendig %}
  <div class="isa_warning" id="verlaengerung_noetig">
    <a id="verlaengern_link" href="{% url 'base_app:getpro' %}"><i class="fas fa-warning"></i>
      Ihre Lizenz läuft bald aus! &rarr; Lizenz verlängern!</a>
  </div>

  {% endif %}
  <div class="card-body">
    <div class="neues_bauteil_button">
      <a href="{% url 'core:projekt_create'  %}">
        <button type="button" id="clickMe" class="btn btn-success"> Neue Projekt hinzufügen <i class="fas fa-plus" aria-hidden="true"></i>
        </button>
      </a>

    </div>




    <h3>Meine Projekte:</h3>
    <br>
    <div class="scrolling-wrapper">
      {% if object_list %}
      <!-- code here to list the books -->



      <table class="table" id="myTable2">
        <thead class="thead-light">
          <tr>
            <th onclick="sortTable(0)">Projektname <i class="fas fa-sort" aria-hidden="true"></i></th>
            <th></th>
            <th></th>
            <th onclick="sortTable(3)">Bearbeitet am <i class="fas fa-sort" aria-hidden="true"></i></th>

          </tr>
        </thead>
        <tbody>

          {% for allgEingaben in allgEingaben %}
          <tr>

            <td>
              <a class="list-group-item list-group-item-action" id="projekt_name_button" href="{% url 'core:projekt_update' allgEingaben.slug allgEingaben.pk %}">
                <h4 id="Titel_projekt_name">{{ allgEingaben.projekt_name }}</h4>
              </a>
            </td>
            <td>

              <a href="{% url 'core:windbemessung_list' allgEingaben.slug allgEingaben.pk %}" class="btn btn-outline-success">
                Übersicht Bauteile
              </a>

            </td>

            <td>
              <a href="{% url 'core:allgEingaben_delete' allgEingaben.slug allgEingaben.pk %}" class="btn btn-outline-danger">
                Löschen
              </a>
            </td>
            <td>
              {{ allgEingaben.edited_date }} Uhr
            </td>

          </tr>
          {% endfor %}

        </tbody>
      </table>
      {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}

        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>

          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active">
          <a class="page-link"> <span>{{ i }} <span class="sr-only">(current)</span></span></a>

        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>

        {% endif %}
      </ul>
      {% endif %}



      {% else %}
      <p>Sie haben noch keine Projekte.</p>
      {% endif %}

    </div>

  </div>
</div>



{% endblock %}

{% block js %}
{% include "js_sorting.html" %}
{% endblock %}
