#projekt_name_button {
  text-align: center;
  min-width: 200px;
}

#Titel_projekt_name{
  height: 100%;
  vertical-align: middle;
  margin-bottom: 0;
}

#list_item{

    border: none;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  width: 100%;
}
.table th{

  text-align: center;
  vertical-align: middle;
}
.table td{

  text-align: center;
  vertical-align: middle;
}
#projekt_list_card{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
#verlaengern_link{
text-decoration: none;
color: #D8000C;

}
#verlaengerung_noetig{


  background-color: transparent;

  padding:12px;
}
