{% block js %}
<script language="javascript">
  //alert('funcionou');



  function get_schneelastzone() {
    ort = $("#id_ort option:selected").text();
    liste = {
      "01.Innere Stadt": 171,
      "02.Leopoldstadt": 160,
      "03.Landstraße": 169,
      "04.Wieden": 174,
      "05.Margareten": 191,
      "06.Mariahilf": 184,
      "07.Neubau": 201,
      "08.Josefstadt": 201,
      "09.Alsergrund": 162,
      "10.Favoriten": 210,
      "11.Simmering": 169,
      "12.Meidling": 184,
      "13.Hietzing": 191,
      "14.Penzing": 223,
      "15.Fünfhaus": 203,
      "16.Ottakring": 213,
      "17.Hernals": 213,
      "18.Währing": 192,
      "19.Döbling": 185,
      "20.Brigittenau": 161,
      "21.Floridsdorf": 162,
      "22.Donaustadt": 159,
      "23.Liesing": 202,
      "Neuwaldegg": "3",
      "Sievering": "2/3",
      "Andau": "2*",
      "Bad Tatzmannsdorf": "2",
      "Eisenstadt": "2*",
      "Güssing": "2/3",
      "Jennersdorf": "3",
      "Mattersburg": "2*/2",
      "Neusiedl am See": "2*",
      "Oberpullendorf": "2*/2",
      "Oberwart": "2",
      "Pinkafeld": "2",
      "Rust am Neusiedler See": "2*",
      "St.Michael im Burgenland": "2/3",
      "Arnoldstein": "3/4",
      "Bad Kleinkirchheim": "2/3",
      "Bleiburg": "3/4",
      "Eisenkappel": "4",
      "Feldkirchen in Kärnten": "2/3",
      "Ferlach": "3/4",
      "Friesach": "2",
      "Gmünd an der Lieser": "2/3",
      "Gurk": "2",
      "Heiligenblut": "2",
      "Hermagor": "3/4",
      "Klagenfurt": "3",
      "Kötschach": "4",
      "Lavamünd": "3",
      "Mallnitz": "2/3",
      "Millstatt": "3",
      "Naßfeld": "-",
      "Oberdrauburg": "3/4",
      "Obervellach": "2/3",
      "Radenthein": "3",
      "Rennweg": "2",
      "St. Andrä im Lavanttal": "2",
      "St. Lorenzen im Lesachtal": "4",
      "St. Veit an der Glan": "2/3",
      "Spittal an der Drau": "3",
      "Velden": "3",
      "Villach": "3",
      "Völkermarkt": "3",
      "Wolfsberg": "2",
      "Amstetten": "2",
      "Bad Vöslau": "2",
      "Baden bei Wien": "2",
      "Deutsch-Wagram": "2*",
      "Fischamend": "2*",
      "Gänserndorf": "2*/2",
      "Gmünd in Niederösterreich": "3",
      "Gross-Enzersdorf": "2*",
      "Gumpoldskirchen": "3",
      "Hainburg": "2*/2",
      "Hollabrunn": "2",
      "Horn": "2",
      "Klosterneuburg": "2/3",
      "Korneuburg": "2/3",
      "Krems an der Donau": "2",
      "Langenlois": "2",
      "Lilienfeld": "3/4",
      "Marchegg": "2*/2",
      "Melk an der Donau": "2",
      "Mistelbach": "2",
      "Mödling": "2",
      "Mönichkirchen": "2",
      "Neunkirchen": "2",
      "Perchtoldsdorf": "2/3",
      "Pottenstein": "2",
      "Poysdorf": "2",
      "Puchberg am Schneeberg": "2",
      "Purkersdorf": "3",
      "Reichenau an der Rax": "2",
      "Retz": "2",
      "Scheibbs": "2/3",
      "Schwechat": "2*",
      "Semmering": "2/3",
      "Sollenau": "2",
      "St.Pölten": "2",
      "Stockerau": "2",
      "Ternitz": "2",
      "Traiskirchen": "2*/2",
      "Tulln": "2",
      "Waidhofen an der Thaya": "3",
      "Waidhofen an der Ybbs": "3",
      "Wilhelmsburg": "2/3",
      "Wolkersdorf": "2",
      "Wr.Neustadt": "2",
      "Zistersdorf": "2",
      "Zwettl": "3",
      "Aigen im Mühlkreis": "3",
      "Bad Goisern": "4",
      "Bad Ischl": "4",
      "Bad Leonfelden": "3/4",
      "Braunau am Inn": "2",
      "Ebensee": "4",
      "Eferding": "2",
      "Enns": "2",
      "Freistadt": "3",
      "Gmunden": "2/3",
      "Gosau": "4",
      "Grein": "2",
      "Grieskirchen": "2",
      "Grünau im Almtal": "3/4",
      "Hallstatt": "4",
      "Hinterstoder": "3/4",
      "Kremsmünster": "2/3",
      "Linz": "2",
      "Mattighofen": "2/3",
      "Mondsee": "3",
      "Obertraun": "4",
      "Reichersberg am Inn": "2",
      "Ried im Innkreis": "2/3",
      "Rohrbach im Mühlviertel": "3",
      "St.Wolfgang am Wolfgangssee": "3/4",
      "Schärding": "2",
      "Schwanenstadt": "2",
      "Spital am Pyhrn": "3/4",
      "Steyr": "2/3",
      "Traun": "2",
      "Vöcklabruck": "2/3",
      "Wels": "2",
      "Weyer": "3/4",
      "Windischgarsten": "3/4",
      "Abtenau": "4",
      "Bad Gastein": "2",
      "Bad Hofgastein": "2",
      "Bischofshofen": "3",
      "Fuschl am See": "3/4",
      "Golling": "4",
      "Hallein": "3/4",
      "Kaprun": "2",
      "Krimml": "2",
      "Lofer": "4",
      "Mattsee": "2/3",
      "Mauterndorf": "2",
      "Mittersill": "2",
      "Mühlbach am Hochkönig": "3",
      "Oberndorf bei Salzburg": "2",
      "Obertauern": "-",
      "Radstadt": "3",
      "Rauris": "2",
      "Saalbach": "3",
      "Saalfelden": "3/4",
      "Salzburg(Zentrum)": "2",
      "St.Johann im Pongau": "2/3",
      "St.Michael im Lungau": "2",
      "Strobl": "3/4",
      "Tamsweg": "2",
      "Unken": "4",
      "Wagrain": "3",
      "Werfen": "3/4",
      "Zell am See": "2/3",
      "Admont": "3",
      "Bad Aussee": "4",
      "Bad Gleichenberg": "3",
      "Bad Mitterndorf": "3",
      "Bad Radkersburg": "3",
      "Birkfeld": "2",
      "Bruck an der Mus": "2",
      "Deutschlandsberg": "3/4",
      "Eibiswald": "4",
      "Eisenerz": "3",
      "Feldbach": "3",
      "Fohnsdorf": "2",
      "Friedberg": "2",
      "Frohnleiten": "2",
      "Fürstenfeld": "2/3",
      "Gleisdorf": "2/3",
      "Graz(Zentrum)": "2",
      "Gröbming": "3",
      "Hartberg": "2",
      "Hieflau": "3",
      "Judenburg": "2",
      "Kapfenberg": "2",
      "Knittelfeld": "2",
      "Köflach": "2",
      "Leibnitz": "3/4",
      "Leoben": "2",
      "Liezen": "3",
      "Mariazell": "3/4",
      "Murau": "2",
      "Mureck": "3",
      "Mürzzuschlag": "2/3",
      "Schladming": "3",
      "Seckau": "2",
      "St.Nikolai im Sölktal": "3",
      "Stainz": "3",
      "Trieben": "2/3",
      "Voitsberg": "2",
      "Wald am Schoberpass": "2/3",
      "Weiz": "2",
      "Wildon": "3",
      "Zeltweg": "2",
      "Ehrwald": "3",
      "Fulpmes": "2",
      "Hall in Tirol": "2",
      "Hintertux": "2",
      "Holzgau": "3",
      "Imst": "2",
      "Innsbruck": "2",
      "Ischgl": "2",
      "Jenbach": "2/3",
      "Kitzbühel": "3/4",
      "Kufstein": "4",
      "Landeck": "2",
      "Lienz": "3",
      "Matrei in Osttirol": "2",
      "Mayrhofen": "2/3",
      "Obergurgl": "-",
      "Pertisau": "3",
      "Reutte in Tirol": "3",
      "St. Anton am Arlberg": "2/3",
      "St.Christoph am Arlberg": "-",
      "St.Jakob in Defereggen": "2",
      "St.Johann in Tirol": "2",
      "St.Leonhard im Pitztal": "4",
      "Schwaz in Tirol": "2/3",
      "Seefeld in Tirol": "2/3",
      "Serfaus": "2",
      "Sillian": "3",
      "Sölden": "2",
      "Steinach": "2",
      "Tannheim": "3/4",
      "Telfs": "2",
      "Virgen": "2",
      "Wörgl": "3/4",
      "Zell am Ziller": "3",
      "Bezau": "4",
      "Bludenz": "3",
      "Bregenz": "2/3",
      "Dornbirn": "2/3",
      "Egg bei Andelsbuch": "3/4",
      "Feldkirch": "2/3",
      "Gargellen": "3",
      "Götzis": "2/3",
      "Hohenems": "2/3",
      "Langen am Arlberg": "3/4",
      "Lech": "3",
      "Lustenau": "2",
      "Mittelberg": "4",
      "Partenen": "3",
      "Schruns": "3",
      "Warth": "-",
      "Zürs": "-",



    };



    var schneelastzone = document.getElementById("id_schneelastzone");



    for (var key in liste) {
      //key will be -> 'id'
      //dictionary[key] -> 'value'

      schneelastzone.value = liste[ort];

    }




  }
</script>
{% endblock %}
