#mySidenav{

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;


  left: 5px;
  background-color: transparent;
  overflow-x: hidden;


}


#close_button{

  text-decoration: none;


}
#close_button:hover{
  background-color: transparent;

}

#projekt:hover{
  color: black;
  background-color: rgba(0, 107, 179, 0.5);
  text-decoration: none;


}
#list_titel{
  background-color: rgba(0, 107, 179, 0.7);
  text-align: center;
  color:white
}

#projekt{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}
#collapse_open_symbol{
  color: rgba(0, 107, 179, 1);
  font-size: 35px;
  height: 35px;
  margin: 10px 0px 10px 0px;
  vertical-align: middle;

}
#collapse_open{
  color: rgba(0, 107, 179, 1);
  height: 46px;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 30px;

}
#main {

  margin-top: -25px;



}
#pdfausdruck{
  margin-left: 40px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
