{% extends "base_app/base.html" %}
{% block title %}Gesamtgebäude{% endblock %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'gesamtgebaeude_app/anzeigetafeln_edit.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'gesamtgebaeude_app/info_buttons.css' %}">

{% endblock %}

{% block content %}
<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_app:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'core:allgEingaben_list' %}">Projekte</a></li>
    <li class="breadcrumb-item"><a href="{% url 'core:windbemessung_list' slug pk %}">Bauteile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Gesamtgebäude</li>
  </ol>
</nav>
<div class="card" style="max-width:1000px">
  <h3 class="card-header form-inline"><img class="icon" src="{% static 'core/img/gesamtgebauede.JPG' %}" alt="icon Anzeigetafel">Gesamtgebäude {% if object.projekt.projekt_name %} - {{ object.projekt.projekt_name }}{% endif %}</h3>
  <div class="card-body">
    <div class="row">

      <div class="col-xs-12 col-md-6">

        <form id="gesamtgebauede_form" method="post">
          {% csrf_token %}
          <div class="loader-container">
            <div class="loader"></div>
          </div>

          {% if form.errors %}
          {% for field in form %}
          {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %}
          {% endif %}

          {{ form.non_field_errors }}
          <div class="form-group">
            {{ form.dach_wahl.errors }}

            {{ form.dach_wahl.label_tag }}
            <div class="" style="margin-left:20px">
              {{ form.dach_wahl }}
            </div>
          </div>





          <br>
          <button type="submit" class="btn btn-success" name="button">Bestätigen <i class="fa fa-check square"></i></button>
        </form>
      </div>
      <div class="col-xs-12 col-md-6">

        <img id="myImg" src="{% static 'gesamtgebaeude_app/img/Anzeigetafel_info_27.JPG' %}" width="100%" height="auto" alt="Anzeigetafeln nach EN/B 1991-1-4">

      </div>
    </div>
  </div>
</div>


<div id="myModal" class="modal">
  <div class="card-body_modal">

    <div class="modal-header-close">
      <button type="button" id=close class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
      </button>

    </div>


    <!-- Modal Content (The Image) -->

    <img class="modal-content" id="img01">


    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>
</div>





{% endblock %}

{% block js %}
{% include "js_loader_anzeigetafel_form.html" %}
{% include "js_bild_anteigtafeln.html" %}
{% endblock %}
