{% extends "base_app/base.html" %}
{% block title %}Freistehende Dächer{% endblock %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'freistehendeDaecher_app/info_buttonfreistehwaende.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'freistehendeDaecher_app/loader.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'freistehende_waende_app/card.css' %}">
{% endblock %}

{% block content %}

<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base_app:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'core:allgEingaben_list' %}">Projekte</a></li>
    <li class="breadcrumb-item"><a href="{% url 'core:windbemessung_list' slug pk %}">Bauteile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Freistehendes Dach</li>
  </ol>
</nav>
    <div class="card">
      <h3 class="card-header form-inline"><img class="icon" src="{% static 'core/img/iconfreistehendesdach.JPG' %}" alt="icon Freistehende Dächer"> Freistehende Dächer {% if object.projekt.projekt_name %} - {{ object.projekt.projekt_name }}{% endif %}</h3>
    <form id="freistehende_daecher_form" method="post">
      {% csrf_token %}

        <div class="card-body">
          {% if form.errors %}
          {% for field in form %}
          {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %}
          {% endif %}


          {{ form.non_field_errors }}
          <div class="row">
            <div class="col">
              <div class="form-group">
                {{ form.some_field_radio.errors }}
                <label for="{{ form.some_field_radio.id_for_label }}">{{ form.some_field_radio.label_tag }}</label>
                <div class="" style="margin-left:20px">

                  <div class="radio">{{ form.some_field_radio.0 }} </div>

                  <div class="radio">
                    {{ form.some_field_radio.1 }}
                  </div>
                  <div class="radio disabled">
                    {{ form.some_field_radio.2 }}
                  </div>
                  <div class="radio disabled">
                    {{ form.some_field_radio.3 }}
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">


              <div class="form-group">
                {{ form.hoehe_GOK.errors }}
                <label for="{{ form.hoehe_GOK.id_for_label }}">{{ form.hoehe_GOK.label_tag }}</label>
                <div class="" style="margin-left:20px">
                  {{ form.hoehe_GOK }}
                </div>
              </div>
              <div class="form-group">
                {{ form.hoehe.errors }}
                <label for="{{ form.hoehe.id_for_label }}">{{ form.hoehe.label_tag }}</label>
                <div class="" style="margin-left:20px">
                  {{ form.hoehe }}
                </div>
              </div>

              <div class="form-group">
                {{ form.breite_b.errors }}
                <label for="{{ form.breite_b.id_for_label }}">{{ form.breite_b.label_tag }}</label>
                <div class="" style="margin-left:20px">
                  {{ form.breite_b }}
                </div>
              </div>
              <br>
              <button type="submit" value="Submit" class="btn btn-success" name="button">Bestätigen <i class="fa fa-check square"></i></button>




            </div>
            <div class="col">


              <div class="form-group">
                {{ form.breite_d.errors }}
                <label for="{{ form.breite_d.id_for_label }}">{{ form.breite_d.label_tag }}</label>
                <div class="" style="margin-left:20px">
                  {{ form.breite_d }}
                </div>
              </div>
              <div class="form-group">
                {{ form.alpha.errors }}
                <label for="{{ form.alpha.id_for_label }}">{{ form.alpha.label_tag }}</label>
                <div class="" style="margin-left:20px">
                  {{ form.alpha }}
                </div>
              </div>
              <div class="form-group">
                {{ form.phi.errors }}
                <label for="{{ form.phi.id_for_label }}">{{ form.phi.label_tag }}</label>
                <div class="form-inline" style="margin-left:20px">

                  {{ form.phi }}

                  <a style="margin-left:10px" id="info_button1" type="button" class="myownclass" name="button"><i id="info_symbol" class="fa fa-info-circle"></i></a>

                </div>

              </div>
            </div>




            <div class="col-md-4">
              <img src="" id=myImg width="100%" height="auto" alt="Freistehende Dächer nach EN/B 1991-1-4">
            </div>
          </div>

          <div class="loader-container">
            <div class="loader"></div>
          </div>
        </div>
    </form>


  </div>


<div id="myModal_freistehendedaecher" class="modal1">

  <!-- Modal content -->
  <div class="card-body_modal1">
    <div class="modal-header-close">
      <button type="button" id=close1 class=close data-dismiss="modal1" aria-label="Close"><span aria-hidden="true">&times;</span>
      </button>

    </div>
    <img class="modal-content" id="img01">

    <div id="caption">
    </div>
  </div>

</div>


{% endblock %}

{% block js %}
{% include "js_loader_freistehende_daecher_form.html" %}

{% endblock %}
